
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

.logo {
	font-family: 'Rubik 80s Fade';
	text-transform: uppercase;
	font-size: 30px;
	color: #fff;
	user-select: none;
	position: relative;
	cursor: pointer;
}

a {display: inline-block;}

svg.btn-icon {
	cursor: pointer;
	height: 30px;
	@media (max-width: 767px) {
		height: 22px;
	}
}
.hover-btn {
	cursor: pointer;
	transition: all 0.2s ease;
	&:hover {
		transform: scale(1.1);
	}
	@media (max-width:767px) {
		&:hover {
			transform: scale(1);
		}
	}
}

.alert-btn {background: none;}

.pointer {cursor: pointer;}

.header {
	position: fixed;
	height: 70px;
	width: 70%;
	top: 10px;
	left: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	padding: 15px 20px 15px 140px;
	z-index: 10;
  background: rgba(47, 47, 162, 0.9);
	border-radius: 10px;
	transition: all 0.5s ease;
	&.dark-mode {background: rgba(11, 12, 16, 0.9);}
	
	&__update-time {
		position: absolute;
		left: 0;
		color: #fff;
		z-index: 10;
		height: 25px;
		bottom: -25px;
		padding: 5px;
		background: rgba(47, 47, 162, 0.9);
		border-radius: 10px;
		transition: all 0.5s ease;
		&.dark-mode {background: rgba(11, 12, 16, 0.9);}
		&.none {display: none;}
	}

	&__btns {
		display: flex;
		
		& > * {
			margin-left: 25px;
			&:first-child {margin: 0;}
		}
	}

	&__logo {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 20px;
	}

	&__btn-dark-light {
		position: relative;
	}

	&__shadow-light {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0px 0px 20px 12px #fff;
	}

	&__block-alarm-anable {
		width: fit-content;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all 0.2s ease;
		&:hover {transform: translateY(-2px);}
		display: none;
	}

	&__alert-text {
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
		color: #f64c72;
	}

	&__alert-icon {
		margin-left: 10px;
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 1;
	}

	&__btn-search {
		@media (min-width: 767px) {
			display: none;
		}
	}

	&__map-icon {
		display: none;
		&.active {
			display: flex;
		}
	}

	&__sattelite {
		display: flex;
		&.active {
			display: none;
		}
	}

	&__shadow-alert {
		position: absolute;
		box-shadow: 0 0 7px 7px red;
		animation-name: alert;
		animation-duration: 0.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		position: relative;
	}

	&__block-alarm-disable {
		display: flex;
		align-items: center;
		transition: all 0.2s ease;
		&:hover {transform: translateY(-2px);}
	}

	&__alarm-disable-text {
		width: fit-content;
		text-align: center;
		text-transform: capitalize;
		font-weight: 600;
		color: green;
	}

	&__alarm-disable-icon {
		margin-left: 10px;
		fill: green;
		width: 30px;
		height: 30px;
	}

	&__block-more {
		display: none;
		&.active {display: block;}
		border-radius: 10px;
		padding: 10px 0;
		width: 200px;
		transition: all 0.5s ease;
		background: rgba(47, 47, 162, 0.9);
		&.dark-mode {background: rgba(11, 12, 16, 0.9);}
		position: absolute;
		top: 70px;
		right: 0;
		border: 1px solid #ffb800;
		& ul {
			width: 90%;
			margin: 0 0 0 50%;
			transform: translateX(-50%);
		}
		& a {
			color: #fff;
			padding: 10px 0 10px 27px;
			width: 100%;
			position: relative;
			margin-bottom: 6px;
			align-items: center;
			cursor: pointer;
			& svg {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			&::after {
				content: '';
				position: absolute;
				bottom: -3px;
				left: 0;
				width: 100%;
				border-bottom: 1px solid #ffb800;
			}
			&:last-child::after {
				display: none;
			}
		}
	}
	&__map-light {
		display: none;
		&.punktsActive {
			display: flex;
		}
		&.sheltersActive {
			display: flex;
		}
		&.lightActive {
			display: none;
		}
	}
	&__punkty-nezlamnosty {
		display: flwx;
		&.punktsActive {
			display: none;
		}
		&.sheltersActive {
			display: flex;
		}
		&.lightActive {
			display: flex;
		}
	}
	&__map-shelters {
		display: flex;
		&.punktsActive {
			display: flex;
		}
		&.sheltersActive {
			display: none;
		}
		&.lightActive {
			display: flex;
		}
	}

	@media (max-width: 767px) {
		width: 98%;
		height: 50px;
		top: 10px;
		left: 50%;
		padding: 15px 20px 15px 90px;
		transform: translateX(-50%);

		&__block-more {
			top: 50px;
		}
		&__alert-text {
			display: none;
		}
		&__alert-icon {
			margin: 0 0 5px 0;
		}
		&__shadow-light {
			box-shadow: 0px 0px 13px 8px #fff;
		}
		&__logo {
			font-size: 25px;
		}
	}
	@media (max-width: 500px) {
		&__btns > * {margin-left: 15px;}
		&__alarm-disable-icon {margin-left: 0px !important;}
		&__logo {left: 15px;}
	}
	@media (max-width: 390px) {
		&__alarm-disable-text {display: none;}
	}
}

.mobile-first-btn {
	@media (min-width:767px) {
		display: none !important;
	}
}

.mobile-none {
	@media (max-width:767px) {
		display: none !important;
	}
}

// .mobile-default-none {
// 	display: none !important;
// }

.alerts-map {
	position: absolute;
	top: 90px;
	left: 10px;
	z-index: 2;
	width: 500px;
	border-radius: 10px;
	transition: all 0.5s ease;
	background: rgba(47, 47, 162, 0.9);
	&.dark-mode {background: rgba(11, 12, 16, 0.9);}
	display: none;
	&.active {display: block !important;}
	@media (max-width: 767px) {
		top: 70px;
		left: 50%;
		transform: translateX(-50%);
		width: 98%;
		min-width: 0;
	}
}
.hide {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: none;
	display: none;
	&.active {display: block;}
}

@keyframes alert {
	0% {
		top: -3px;
		right: 15px;
	}
	25% {
		top: -3px;
		right: 4px;
	}
	50% {
		top: -15px;
		right: 15px;
	}
	75% {
		top: -3px;
		right: 25px;
	}
	100% {
		top: -3px;
		right: 15px;
	}
}