@import '_nullstyle.scss';
@import '_style-header.scss';
@import '_style-searchLine.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {font-family: 'Lato', sans-serif;}

*::-webkit-scrollbar {
	width: 10px;
	border-radius: 5px;
}
*::-webkit-scrollbar-track {
	background: none;
}
*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	margin-right: 10px;
  background-image: linear-gradient(to bottom, rgb(255, 132, 0), rgb(238, 0, 255));
}


.map {
	width: 100%;
	height: 100%;
}

.dark-icon {
	display: block;
	&.active {display: none;}
}
.light-icon {
	display: none;
	&.active {display: block;}
}

.gm-ui-hover-effect span {
	width: 20px !important;
	height: 20px !important;
	transform: translateX(-10px);
}

.time-block {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 5;
	width: 600px;
	height: fit-content;
	color: #fff;
	display: none;
	border-radius: 10px;
	padding: 20px 20px 120px 20px;
	transition: all 0.5s ease;
  background: rgba(47, 47, 162, 0.9);
  &.dark-mode {background: rgba(11, 12, 16, 0.9);}
	&.active {display: block;}
	&.hide {display: none;}

	&__hide {
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 2;
		background: none;
	}

	&__table {
		width: 270px;
		height: 100px;
		width: 90%;
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		& tr,
		& td {
			border: 1px solid #fff;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		& td {
			width: 16.666%;
		}
		& tr {
			height: 50%;
		}
	}
	&__block-text {
		display: flex;
		width: 95%;
	}
	&__title {
		font-size: 16px;
		font-weight: 500;
		margin-right: 15px;
	}
	&__description {
		font-size: 12px;
		font-weight: 300;
	}
	&__lamp-icon {
		width: 30px;
	}
	&__times {
		text-align: center;
	}
	&__flex-box {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		width: 95%;
		height: 80px;
		display: flex;
		justify-content: space-between;
	}
	&__mini-flex-box {
		position: relative;
		height: 100%;
		width: 16.666%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 1px;
			height: 100%;
			background: #fff;
		}
		&:last-child::after {
			content: '';
			display: none;
		}
	}
	&__detail-info {
		display: none;
		background: #7393B3;
		padding: 10px;
		border-radius: 10px;
		&.active {
			display: block;
		}
		& p {
			font-size: 16px;
			font-weight: 500;
			line-height: 18px;
		}
	}

	&.hide {
		display: none;
	}

	.content {
		&__paragraf {
			font-weight: 700;
			font-size: 20px;
		}
	}

	&__show-hide {
		display: flex;
		align-items: center;
		margin-top: 5px;
		cursor: pointer;
	}

	&__arrow-img {
		margin-right: 5px;
		transition: all 0.2s ease;
		&.active {
			transform: rotate(180deg);
		}
	}

	&__btn-more {
		&.active {
			display: none;
		}
	}

	&__btn-hide {
		display: none;
		&.active {
			display: inline-block;
		}
	}

	@media (max-width:767px) {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		width: 98%;
		padding: 10px 10px 110px 10px;

		&__flex-box {
			height: 80px;
		}
		&__times {
			font-size: 14px;
			bottom: 10px;
		}
	}
}

.page-info {
	display: none;
	&.active {display: block;}
	position: fixed;
	bottom: 10px;
	left: 50%;
	z-index: 10;
	transform: translateX(-50%);
	width: 98%;
	height: 85%;
	border-radius: 10px;
	transition: all 0.5s ease;
  background: rgba(47, 47, 162, 0.9);
  &.dark-mode {background: rgba(11, 12, 16, 0.9);}
	&__wrapper {
		position: absolute;
		top: 51.8%;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		height: 94%;
		overflow: auto;
		display: flex;
		justify-content: center;
	}
	&__content {
		width: 96%;
		max-width: 1000px;
	}
	&__hide {
		background: none;
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 2;
	}

	&__image-more {
		transition: all 0.2s ease;
		&.active {
			transform: rotate(135deg);
		}
		&_4, &_6 {
			transform: rotate(135deg);
			&.active {
				transform: rotate(0deg);
			}
		}
	}

	&__block-info {
		padding: 5px 20px;
		margin-bottom: 25px;
		background: #7393B3;
		border-radius: 10px;
		overflow: hidden;
		// height: 50px;
		// &.active {height: fit-content;}
	}

	&__block-title {
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	
	&__info-title {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		margin: 10px 20px;
	}
	&__info-paragraf {
		display: none;
		color: #fff;
		margin-bottom: 15px;
		font-family: 'Poppins', sans-serif;
		font-size: 16px;
		line-height: 20px;
		& a {
			font-family: 'Poppins', sans-serif;
			font-size: 16px;
			&:hover {
				text-decoration: underline;
			}
		}
		& span.page-info__logo {
			font-family: 'Rubik 80s Fade';
			text-transform: uppercase;
			font-size: 20px;
			color: #fff;
			user-select: none;
			cursor: pointer;
		}
		&.active {display: block;}
	}
	@media (max-width:767px) {
		height: 88%;
	}
}
.m-top {
	margin-top: 15px;
}